<?xml version="1.0" encoding="utf-8"?>
	<packages>
	  <package id="chocolateygui" />
	  
	  <package id="jdk8" />
	  <package id="nodejs-lts" />
	  <package id="git.install" />
	  <package id="googlechrome"/>
	  <package id="vscode" />
	  <package id="notepadplusplus.install"/>
	  <package id="mobaxterm" />
	  
	  <package id="bandizip" version="6.25" />
	  <!-- <package id="7zip.install" /> -->
	  <package id="potplayer" />
	  <package id="teamviewer" />
	  <package id="geekuninstaller" />
	  
	  <!-- <package id="typora" version="0.9.95" /> -->
	  <package id="marktext.install" />
	</packages>